* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.5em;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.37em;
}

body{
    padding: 3em;
    background: #060B47;
    background: linear-gradient(to top right, #060B47 0%, #360010 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 60em;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.snake_text{
    color: aliceblue;
    vertical-align: bottom;
}

.whitesnake_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.logo{
    width: 6em;
}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30em;
    padding-top: 4em;
}

  
.btn {
    width: 35%;
    margin: 1%;
    padding: 0.6em 0;
    font-size: 28px;
    text-align: center;
    color: rgb(238, 232, 232);

    cursor: pointer;
    border-radius: 0.2em;
    background: #afadbd;
	display: block;
	text-decoration: none;
	transition: all 0.5s ease;
	border: 0.1em solid white;
}
.btn:hover {
	background: #4940ba;
}
.btn-move {
	max-width: 22em;
	margin-top: 10em;
}

.rights{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

/*make responsive*/
@media screen and (max-width: 500px) {
    .btn {
        width: 50%;
        margin: 1%;
        padding: 0.8em 0;
        font-size: 20px;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#overlay p {
    color: white;
    font-size: 24px;
    text-align: left;
}
  
.show-overlay {
    display: block; /* show the overlay when this class is added to the overlay element */
}

.whitesnake_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 6em;
}

.rules_h{
    font-weight: bold;
    font-size: 1em;
}

.help_rules{
    height: 75%;
    width: 70%;
    padding: 2em;
    font-size: 1.2em;
    color: rgb(238, 232, 232);
    border-radius: 0.2em;
    background: #afadbd;
    text-align: left;
    border: 0.1em solid white;
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

/* resourse: 
https://github.com/kevin-powell/fun-with-transforms-and-transform-origin/blob/master/css/main.css
*/

.back {
    cursor: pointer;
    background: none;
	display: block;
	transition: all 0.5s ease;
    border: none;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    text-align: right;
    color: #fff;
    font-size: 1.2em;
}

.back::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1em;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.back:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}